body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  height: 100vh; /* Ensure body takes full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


/** Different Screens **/
.StartMenu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/** Title **/
h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.67rem;
  color: white;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.7));
}

button {
  background-color: #0e0e0e;
  color: rgb(145, 145, 145);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

button:hover {
  background-color: #242424;
}

/** Logo — for the time being it's just gonna sit at the bottom 
of the screen, but ideally used for loading screen? making can make it breathing **/
.logo {
  position: absolute;
  bottom: 0;
  width: 7em;
  height: 7em;
  margin: 20px 0;
  /* Temporary fix for if window is too small and logo covers start button */
  z-index: -1;
  animation: breathing 4s ease-in-out infinite;
}

@keyframes breathing {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  }
  50% {
    transform: scale(1.08);
    filter: drop-shadow(0 0 13px rgba(255, 255, 255, 0.7));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  }
}



.ConfigMenu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/** Config Button **/

.ConfigMenu {
  display: flex;
  gap: 10px;
}

.back-button {
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: 1;
}

.trigger-button {
  padding: 10px 20px;
  background-color: #a07b7b;
  color: rgb(145, 145, 145);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 30em;
  height: 20em;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #0e0e0e;
  color: rgb(145, 145, 145);
  width: 20em;
  height: 20em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.3));
}

.popup-content input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.popup-content button {
  margin: 5px;
  padding: 10px;
  background-color: #0e0e0e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #242424; 
}

.popup-button {
  background-color: #0e0e0e;
  color: rgb(145, 145, 145);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.popup-button:hover {
  background-color: #242424;
}