.flex-container {
    display: flex;
    background-color: rgb(150, 150, 150);
}

.flex-title {
    display: flex;
    color: rgb(137, 252, 115);
    font-size: 200px;
    font-family: sans-serif;
    text-align: center;
}

.flex-field {
    display: flex;
    font-size: 50px;
}